@model emregayrımenkul.Models.ViewModels.LoginVM // burada da Login giriş sayfasını için ViewModelden gerekli bilgileri aldık.

@{
    Layout = "_Layout3";
}

<section class="mx-1 d-flex align-items-center justify-content-center" style="margin-top: 150px;">
    
<div class="col-md-3 card p-3  d-flex mx-auto" id="loginCard">
    <form method="post" asp-controller="Account" asp-action="Login" class="my-5 ms-3 me-3">
    <h2 class="text-center text-opacity-50">Admin-Giriş</h2>
    <div asp-validation-summary="ModelOnly"></div> <!--Burası hataları göstermek istiyor ve daha sonra ise döndürmek için -->

    <div class="form-group mb-3">
        <label asp-for="Username" class="form-label"><strong>Kullanıcı Adı</strong></label>
        <input type="text" asp-for="Username" class="form-control">
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
     <div class="form-group mb-3">
        <label asp-for="Password" class="form-label"><strong>Şifre</strong></label>
        <input type="password" asp-for="Password" class="form-control">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-1 form-check">
        <label class="form-check-label" >
            
            <input asp-for="RememberMe" class="form-check-input">@Html.DisplayNameFor(y=>y.RememberMe)

        </label>
        
    </div>
   <div class="row">
    <div class="col-12">
        <input type="submit" class="btn btn-primary btn-sm float-end">
    </div>
   </div>
</form>
</div>
</section>