@{
    Layout = "_Layout";
}



<!--Section Sliders starting-->
<section class="about-banner m-0 p-0">
    <div class="container banner-text text-light mt-5" style="font-weight: 900;margin-top:50px">
        <div data-aos="fade-down" data-aos-duration="1200" data-aos-easing="ease" class="col-sm-12 my-5">
            <h3 id="banner-title my-5" class="display-6" style="font-weight: bolder;">
                Güvenilir Gayrimenkul Danışmanlığı ile Hayallerinizi Gerçekleştirin!
            </h3>
        </div>
    </div>
</section>


<section class="vision">
    <div class="container-fluid d-flex justify-content-center align-items-center">
        <div class="row my-5">
            <!-- Sol Taraf: Vizyon ve Misyon -->
            <div class="col-12 col-md-6 d-flex flex-column align-items-center text-center text-md-start" style="margin: 75px auto;">
                <div class="vision-text mb-5" data-aos="fade-up" data-aos-duration="1500">
                    <h4 class="our-title text-light">Vizyonumuz</h4>
                    <p class="our-description text-light">
                        Gayrimenkul sektöründe yenilikçi, öncü ve güvenilir bir marka olmak, müşterilerimize sadece
                        satış ve kiralama hizmeti değil, kazançlı ve sürdürülebilir yatırım fırsatları sunarak değer yaratmak
                        istiyoruz. Manisa'da en çok tercih edilen gayrimenkul danışmanlık firması olmayı hedefleyerek,
                        teknolojiyi en iyi şekilde kullanarak modern çözümler sunmayı ve her müşterimizin hayallerine
                        ulaşmasını sağlamayı amaçlıyoruz.
                    </p>
                </div>

                <div class="mission-text" data-aos="fade-down" data-aos-duration="1500" data-aos-easing="ease">
                    <h4 class="our-title text-light">Misyonumuz</h4>
                    <p class="our-description text-light">
                        Emre Gayrimenkul olarak, Manisa ve çevresinde müşterilerimize güvenilir, şeffaf ve profesyonel
                        gayrimenkul hizmetleri sunuyoruz.
                        Amacımız, doğru yatırım kararları almanızı sağlamak, satılık ve kiralık gayrimenkul seçenekleriyle
                        ihtiyaçlarınıza en uygun çözümleri sunmak ve süreç boyunca hızlı, etkili ve müşteri memnuniyeti
                        odaklı hizmet vermektir.
                        Gayrimenkul sektöründe, etik değerlere bağlı kalarak en güvenilir danışmanlık hizmetini sunmak temel
                        önceliğimizdir.
                    </p>
                </div>
            </div>

            <!-- Sağ Taraf: Swiper Dikey Slider -->
            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center mt-5">
                <div class="swiper-container autoslider3reverse">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/media/4.jpg" alt="Telefon 1">
                        </div>
                        <div class="swiper-slide">
                            <img src="/media/about.png" alt="Telefon 2">
                        </div>
                        <div class="swiper-slide">
                            <img src="/media/5.jpg" alt="Telefon 3">
                        </div>
                        <div class="swiper-slide">
                            <img src="/media/7.jpg" alt="Telefon 4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<footer class="footer  text-white  pt-5">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center text-center">

            <div class="col-md-4">
                <h5 style="text-decoration: underline;" class="lead">Emre Gayrimenkul</h5>
                <p class="text-center">Yatırımınızın güvencesi, hayallerinizin gerçeğe dönüşümüdür.</p>
            </div>

            <div class="col-md-4">
                <h5 style="text-decoration: underline;" class="lead">Hızlı Erişim</h5>
                <ul class="list-unstyled">
                    <li><a asp-controller="Home" asp-action="Index" class="text-white text-decoration-none">Ana Sayfa</a></li>
                    <li><a asp-controller="Home" asp-action="About" class="text-white text-decoration-none">Hakkımızda</a></li>
                    <li><a asp-controller="Home" asp-action="AllDetails" class="text-white text-decoration-none">Tüm İlanlar</a></li>
                    <li><a asp-controller="Home" asp-action="Contact" class="text-white text-decoration-none">İletişim</a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <h5 style="text-decoration: underline;" class="lead">Sosyal Medya</h5>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="#" class="text-white"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-white"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-white"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-white"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Alt Kısım -->
        <hr class="border-1">
        <div class="row mt-5">
            <div class="col-12 text-center">
                <p class="mb-0">&copy; 2025 Emre Gayrimenkul. Tüm hakları saklıdır.</p>
            </div>
        </div>
    </div>
</footer>

