@{
    Layout = "_Layout";
}


<link href="~/css/style.css" rel="stylesheet" />

<section id="new" class="mx-auto d-flex justify-content-center align-items-center>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 mx-auto">
                <section class="maps">
                    <div class="container-fluid">
                        <div class="map-container">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4404.86388497901!2d27.30849636912066!3d38.67855249023043!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b98466b7e11205%3A0xdd637da4144efa13!2sManisa%20Celal%20Bayar%20%C3%9Cniversitesi%20K%C3%BCt%C3%BCphanesi!5e0!3m2!1str!2str!4v1740486909329!5m2!1str!2str"
                                    style="border:1;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade">
                            </iframe>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-sm-12 col-md-6 mx-auto bg-white">
                <section class="info" style="margin-top: 5px;">
                    <div class="container info bg-white">
                        <div class="row d-flex justify-content-center align-items-center flex-row bg-white">
                            <h1 class=" text-center" style="margin-top: 120px;">Contact</h1>
                            <!-- Adres -->
                            <div class="col-sm-12 d-flex justify-content-start align-items-center my-2 infos" >
                                
                                <div >
                                    <h5><img src="/media/konum.png" alt="Adres" width="50px" height="50px" class="me-3"><b>Adres</b></h5>
                                    <p class="fs-5">
                                        Yağcılar Şehit Prof.Dr.İlhan Varank YerleşkesiManisa Celal Bayar
                                        Üniversitesi Kütüphanesi, 45110 Yunusemre/Manisa
                                    </p>
                                </div>
                            </div>

                            <!-- Telefon -->
                            <div class="col-sm-12  d-flex align-items-center my-2 infos  ">
                                
                                <div>
                                    <h5><img src="/media/phone.png" alt="Telefon" width="50px" height="50px" class="me-3"><b>Telefon</b></h5>
                                    <a class="fs-5" href="tel:+905324197989">+90 532 419 79 89</a>

                                </div>
                            </div>

                            <!-- E-posta -->
                            <div class="col-sm-12 d-flex align-items-center my-2 infos">
                               
                                <div>
                                    <h5> <img src="/media/mail.png" alt="E-posta" width="50px" height="50px" class="me-3"> <b>E-posta</b> </h5>
                                    <a class="fs-5"
                                       href="mailto:yunuskaratas589@gmail.com">yunuskaratas589@gmail.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
</section>



<footer class="footer  text-white  pt-5">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center text-center">

            <div class="col-md-4">
                <h5 style="text-decoration: underline;" class="lead">Emre Gayrimenkul</h5>
                <p class="text-center">Yatırımınızın güvencesi, hayallerinizin gerçeğe dönüşümüdür.</p>
            </div>

            <div class="col-md-4">
                <h5 style="text-decoration: underline;" class="lead">Hızlı Erişim</h5>
                <ul class="list-unstyled">
                    <li><a href="/index.html" class="text-white text-decoration-none">Ana Sayfa</a></li>
                    <li><a href="/about.html" class="text-white text-decoration-none">Hakkımızda</a></li>
                    <li><a href="/allDetails.html" class="text-white text-decoration-none">Tüm İlanlar</a></li>
                    <li><a href="/contact.html" class="text-white text-decoration-none">İletişim</a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <h5 style="text-decoration: underline;" class="lead">Sosyal Medya</h5>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="#" class="text-white"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-white"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-white"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-white"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Alt Kısım -->
        <hr class="border-1">
        <div class="row mt-5">
            <div class="col-12 text-center">
                <p class="mb-0">&copy; 2025 Emre Gayrimenkul. Tüm hakları saklıdır.</p>
            </div>
        </div>
    </div>
</footer>




