
@{
    Layout = "_Layout";
}

<link href="~/css/style.css" rel="stylesheet"/>




<!--Section Sliders starting-->
<section class="banner m-0 p-0">

    <div class="container banner-text text-light">
        <div data-aos="zoom-in" data-aos-duration="1200" data-aos-easing="ease" class="col-sm-12 my-5 ">
            <h3 id="banner-title my-5" class="display-6">
                Hayalinizdeki Evi Bulmanın Tam Zamanı!<br> En Güncel ve Güvenilir Gayrimenkul
                Seçenekleri Sizi Bekliyor.
            </h3>
            <p id="banner-description my-5">
                Müşteri odaklı, güvenilir emlak çözümleriyle hayalinizdeki evi ve
                yatırım fırsatını size sunuyoruz.
            </p>
        </div>
    </div>

</section>

<!--Banner Finished-->

<section class="services bg-dark">
    <div class="container-fluid">
        <div class="row">

            <div class="container aos-init aos-animate text-light my-5" data-aos="zoom-in" data-aos-duration="2000"
                 data-aos-easing="ease">
                <h3 class="text-center text-light">Hizmetler</h3>
                <div class="row m-1 d-flex justify-content-center align-items-center">
                    <div class="col-md-4">
                        <div class="card services my-2">
                            <img src="~/media/8.jpg" class="card-img-top img-fluid" alt="Ev Satışı" style="height: 300px;">
                            <div class="card-body mt-0">
                                <h5 class="card-title" style="text-decoration: underline;">Ev Satışı</h5>
                                <p class="card-text">
                                    Satılık ve kiralık konut ilanları ile müşterilerimize en uygun
                                    çözümleri sunuyoruz.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card services my-2">
                            <img src="~/media/5.jpg" class="card-img-top img-fluid" alt="Arsa Yatırımı" style="height: 300px;">
                            <div class="card-body mt-0">
                                <h5 class="card-title" style="text-decoration: underline;">Arsa Yatırımı</h5>
                                <p class="card-text">
                                    Geleceğe yatırım yapmak isteyenler için uygun arsa fırsatları
                                    sunuyoruz.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card services my-2">
                            <img src="~/media/6.jpg" class="card-img-top img-fluid" alt="Kiralama" style="height: 300px;">
                            <div class="card-body mt-0">
                                <h5 class="card-title" style="text-decoration: underline;">Kiralama</h5>
                                <p class="card-text">
                                    Konut ve iş yeri kiralamada profesyonel danışmanlık sunuyoruz.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Section Sliders finished-->
<!--- Section choose starting-->
<section class="choosed img-fluid">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 text-center text-light my-5 content" data-aos="zoom-in" data-aos-duration="2000">
                <h1 class="display-3  choosed-title text-start my-2 mx-auto">Gayrimenkulün Geleceğini Keşfedin</h1>
                <p class="lead my-2 mx-auto">
                    En güncel emlak trendleri ve yatırım fırsatlarıyla gayrimenkulde fark
                    yaratın. Uzman ekibimiz, doğru lokasyon ve kaliteli projelerle geleceğinizi güvence altına
                    alıyor.
                </p>
            </div>
        </div>
    </div>
</section>

<!--- Section choose starting -->


<section class="whyChoosed">
    <div class="container-fluid my-3">

        <div class="row d-flex justify-content-center align-items-center g-4">
            <h3 class="text-center lead display-5 text-dark">Neden Bizi Tercih Etmelisiniz?</h3>

            <div class="col-md-6 col-lg-4">
                <div class="card text-white bg-dark shadow why">
                    <div class="card-body">
                        <h5 class="card-title my-4">Uzman Ekip</h5>
                        <p class="card-text">Alanında deneyimli profesyonellerden oluşan ekibimiz, doğru yatırımı yapmanız için size en güncel ve güvenilir rehberliği sunar.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card text-white bg-dark shadow why">
                    <div class="card-body">
                        <h5 class="card-title my-4">Geniş Portföy</h5>
                        <p class="card-text">Satılık, kiralık ve yatırım amaçlı gayrimenkullerden oluşan geniş portföyümüz, her zevke ve ihtiyaca hitap eder.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card text-white bg-dark shadow why">
                    <div class="card-body">
                        <h5 class="card-title my-4">Müşteri Memnuniyeti</h5>
                        <p class="card-text">Gerçek müşteri yorumları ve referanslarımız, kaliteli hizmet sunma konusundaki başarımızı kanıtlar.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card text-white bg-dark shadow why">
                    <div class="card-body">
                        <h5 class="card-title my-4">Yenilikçi Çözümler</h5>
                        <p class="card-text">Modern teknoloji ve dijital pazarlama yöntemleriyle, en hızlı ve etkili çözümleri sunarak rakiplerimizin önüne geçiyoruz.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card text-white bg-dark shadow why">
                    <div class="card-body">
                        <h5 class="card-title my-4">Hızlı & Kolay İşlem</h5>
                        <p class="card-text">İhtiyacınız olan gayrimenkulü kısa sürede bulmanızı sağlayacak pratik ve hızlı işlem süreçleri sunuyoruz.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card text-white bg-dark shadow why">
                    <div class="card-body">
                        <h5 class="card-title my-4">Güvenilir Hizmet</h5>
                        <p class="card-text">Şeffaf, dürüst ve müşteri odaklı hizmet anlayışımız sayesinde, işlemlerinizde tam güven ve memnuniyet sağlanır.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<footer class="footer  text-white  pt-5">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center text-center">

            <div class="col-md-4">
                <h5 style="text-decoration: underline;" class="lead">Emre Gayrimenkul</h5>
                <p class="text-center">Yatırımınızın güvencesi, hayallerinizin gerçeğe dönüşümüdür.</p>
            </div>

            <div class="col-md-4">
                <h5 style="text-decoration: underline;" class="lead">Hızlı Erişim</h5>
                <ul class="list-unstyled text-center">
                    <li><a asp-controller="Home" asp-action="Index" class="text-white text-decoration-none">Ana Sayfa</a></li>
                    <li><a asp-controller="Home" asp-action="About" class="text-white text-decoration-none">Hakkımızda</a></li>
                    <li><a asp-controller="Home" asp-action="AllDetails" class="text-white text-decoration-none">Tüm İlanlar</a></li>
                    <li><a asp-controller="Home" asp-action="Contact" class="text-white text-decoration-none">İletişim</a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <h5 style="text-decoration: underline;" class="lead">Sosyal Medya</h5>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="#" class="text-white"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-white"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-white"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-white"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Alt Kısım -->
        <hr class="border-1">
        <div class="row mt-5">
            <div class="col-12 text-center">
                <p class="mb-0">&copy; 2025 Emre Gayrimenkul. Tüm hakları saklıdır.</p>
            </div>
        </div>
    </div>
</footer>



